<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Notebooks</h1>
    </header>
    <main>
        <div>
            {% for i in category_filter %}
                {% for j in i.cat_prod.all %}
                    <h3>{{ j.name }}</h3>
                    <img src="{{j.img.url}}" width="200px" alt="">
                    <p>{{ j.price }}</p>
                {% endfor %}
            {% endfor %}

        </div>
    </main>
</body>
</html>